<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="$(var.ProductId)" Name="$(var.ProductFullName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="(var.Manufacturer)" UpgradeCode="C0D9656F-D882-44A4-8C5D-EE519C2A685B">
        <Package InstallerVersion="200" Compressed="yes" InstallPrivileges="elevated"/>

       <Condition Message="For a correct installation of the software, administrator rights are necessary. You do not have these rights. Please contact your IT-administrator to carry out the installation">Privileged</Condition>

        <Upgrade Id="C0D9656F-D882-44A4-8C5D-EE519C2A685B">
            <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND" Minimum="1.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no"/>
        </Upgrade>
        <!--Setup Properties -->
        <Property Id="ALLUSERS" Value="1"/>
        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

        <?if $(sys.BUILDARCH) = x64 ?>
        <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
        <?else?>
        <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
        <?endif?>

        <!--Programm Files -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="OSP_SUITE" Name="$(var.Manufacturer)">
                <Directory Id="INSTALLDIR" Name="$(var.ProductFullName)">
                    <Directory Id="CODE_DIR" Name="code"/>
                    <Directory Id="MATLAB_TOOLBOX_DIR" Name="matlab_toolbox"/>
                    <Directory Id="LIB_DIR" Name="lib"/>
                    <Directory Id="TEST_INSTALLATION_DIR" Name="testInstallation"/>
                </Directory>
            </Directory>            
        </Directory>

        <Property Id="ARPHELPLINK" Value="http://www.open-systems-pharmacology.org"/>
        <Property Id="ARPCONTACT" Value="http://forum.open-systems-pharmacology.org"/>
        <Property Id="ARPURLUPDATEINFO" Value="http://www.open-systems-pharmacology.org"/>
        <Property Id="ARPURLINFOABOUT" Value="http://www.open-systems-pharmacology.org"/>


        <Feature Id="Main" Title="$(var.ProductName)" Level="1" Absent="disallow" AllowAdvertise="no">
            <ComponentGroupRef Id="code"/>
            <ComponentGroupRef Id="matlab_toolbox"/>
            <ComponentGroupRef Id="lib"/>
        </Feature>

        <InstallExecuteSequence>
            <RemoveExistingProducts Before="InstallInitialize"/>
        </InstallExecuteSequence>
        <!-- UISection-->
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
        <UIRef Id="WixUI_InstallDir"/>
        <UIRef Id="WixUI_ErrorProgressText"/>
        <WixVariable Id="WixUILicenseRtf" Value="EULA.rtf"/>
        <WixVariable Id="WixUIBannerBmp" Value="OSPBanner.bmp"/>
    </Product>
</Wix>
